<footer class="footer py-7">
    <div class="container">
        <div class="row align-items-center align-items-lg-start">
            <div class="col-lg-6 text-center text-lg-start mb-5">
                <img src="../assets/images/200px.png" alt="logo">
                <p class="fs-7 fw-normal">© 2024 彰源鮮味 本站僅供學習使用，不提供商業用途</p>
            </div>
            <div class="col-lg-3 text-center text-lg-start">
                <div class="card mb-7">
                    <div class="card-header fs-5 pb-2 pb-lg-7 pt-0 fs-lg-4">關於本站</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fw-normal pb-2 pt-0 pb-lg-3 fs-lg-5"><a href="#">認識品牌</a></li>
                        <li class="list-group-item fw-normal pb-2 pt-0 pb-lg-3 fs-lg-5"><a href="#">常見問題</a></li>
                        <li class="list-group-item fw-normal pb-2 pt-0 pb-lg-3 fs-lg-5"><a href="#">隱私權政策</a></li>
                        <li class="list-group-item fw-normal pb-2 pt-0 pb-lg-3 fs-lg-5"><a href="#">使用者條款</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 text-center text-lg-start">
                <div class="card mb-5">
                    <div class="card-header fs-5 pb-2 pb-lg-7 pt-0 fs-lg-4">聯絡我們</div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-center justify-content-lg-start pt-0 pb-4 pb-lg-7">
                            <a href="#" class="me-5">
                                <picture class="btn btn-white p-2 ">
                                    <source media="(min-width: 992px)" srcset="../assets/images/icon/Mail.png">
                                    <img src="../assets/images/icon/Mail-sm.png" alt="logo">
                                </picture>
                            </a>
                            <a href="https://www.facebook.com/" class="me-5">
                                <picture class="btn btn-white p-2">
                                    <source media="(min-width: 992px)" srcset="../assets/images/icon/FB.png">
                                    <img src="../assets/images/icon/FB-sm.png" alt="logo">
                                </picture>
                            </a>
                            <a href="#">
                                <picture class="btn btn-white p-2">
                                    <source media="(min-width: 992px)" srcset="../assets/images/icon/Line.png">
                                <img src="../assets/images/icon/Line-sm.png" alt="logo">
                            </picture>
                            </a>
                        </li>
                        <li class="list-group-item pb-1 pb-lg-3 pt-0">
                            <span class="material-symbols-outlined align-middle me-3 fs-4 fs-lg-2">call</span>
                            <a href="tel:+886-4-8656565" class="fs-7 en-font fw-normal fs-lg-5">(04)8656565</a>
                        </li>
                        <li class="list-group-item d-flex py-0">
                            <span class="material-symbols-outlined align-middle me-3 fs-4 fs-lg-2">location_on</span>
                            <p class="fs-7 fw-normal fs-lg-5">彰化縣埔鹽鄉新興村員鹿路五段123號</p>
                        </li>
                    </ul>
                </div>
                <div class="d-lg-none">
                    <p class="fs-7 fw-normal pb-1">© 2024 彰源鮮味</p>
                    <p class="fs-7 fw-normal">本站僅供學習使用，不提供商業用途</p>
                </div>
            </div>
        </div>
    </div>
</footer>