<header class="navbar navbar-expand-lg p-0 bg-white">
    <div class="container-fluid py-4 px-3">
        <a class="navbar-brand" href="index.html">
            <picture>
                <source media="(min-width: 992px)" srcset="../assets/images/LOGO-L.png">
                <img src="../assets/images/LOGO-S.png" alt="logo">
            </picture>
        </a>
        <span class="material-symbols-outlined fs-2 text-primary ms-auto me-3 d-lg-none">shopping_cart</span>
        <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="material-symbols-outlined">menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto mt-5 mt-lg-0">
                <a class="nav-link active text-center py-6 py-lg-0 px-lg-6 border-fix" aria-current="page" href="#">
                    <p class="fs-5 fs-lg-4">關於我們</p>
                    <p class="small fw-normal en-font">About us</p>
                </a>
                <a class="nav-link text-center py-6 py-lg-0 px-lg-6 border-fix" href="story.html">
                    <p class="fs-5 fs-lg-4">產地故事</p>
                    <p class="small fw-normal en-font">Our Story</p>
                </a>
                <a class="nav-link text-center py-6 py-lg-0 px-lg-6 border-fix" href="#">
                    <p class="fs-5 fs-lg-4">全部商品</p>
                    <p class="small fw-normal en-font">Store</p>
                </a>
                <a class="nav-link text-center py-6 py-lg-0 px-lg-6" href="faq.html">
                    <p class="fs-5 fs-lg-4">常見問題</p>
                    <p class="small fw-normal en-font">FAQ</p>
                </a>
                <a href="order-confirmOrder.html" class="btn btn-s d-none d-lg-inline-block p-0 border-0 mx-6"><span
                        class="material-symbols-outlined p-4 fs-2">shopping_cart</span></a>
                <a href="login.html" class="btn btn-s d-none d-lg-inline-block p-0 border-0"><span
                        class="material-symbols-outlined p-4 fs-2">person</span></a>
                <div class="d-lg-none">
                    <a class="nav-link py-6 link-primary text-center py-6" href="login.html">
                        <p class="fs-5 fs-lg-4">登入</p>
                        <p class="small fw-normal en-font">Sign in</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="box"></div>