
.product {
    main {
        .row {
            .pc-box{
                max-height: 587px;
            }
            .swiper-slide {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }

            .mySwiper2 {
                height: 80%;
                border-radius: 24px;
            }

            .mySwiper {
                height: 18%;

                .swiper-slide {
                    opacity: 0.4;
                }

                .swiper-slide-thumb-active {
                    opacity: 1;
                }
            }

            .mobile-box{
                padding: 0 0;
            }
            .mySwiper3 {
                height: 346px;
                img{
                    border-radius: 0;
                }
                .swiper-pagination{
                    color: $tertiary;
                    background: rgba(25, 33, 21, 0.7);
                    width: 44px;
                    border-radius: 100px;
                }
            }
            .breadcrumb-item{
                color: $gray;
                &.active,
                &:hover{
                    color: $primary;
                }
            }
        }

        .btn-outline-gray {
            padding: 12px 24px;
            background: white;
            color: $gray;
            font-weight: bold;
            border-radius: 8px;
            min-width: 98px;

            &.active,
            &:hover {
                border-color: $primary;
                color: $primary;
            }

        }

        .btn-s {
            border-radius: 8px;
            padding: 8px;
        }
        .btn-L{
            border: 0;
            &.active,
            &:hover{
                color: $primary;
                background: $secondary;
            }
        }
    }
    article{
        h2{
            color: $black;
            font-size: 20px;
            margin-bottom: 12px;
        }
        .card-img{
            width: 100%;
            max-height: 263px;
            border-radius: 8px;
            margin-bottom: 12px;
            object-fit: cover;
        }
    }
    section{
        h2{
            color: $black;
            font-size: 20px;
        }
        .card{
            border-radius: 16px;
            height: 120px;
        }
        span{
            padding: 0 0;
        }
    }
}