main{ 
    margin: auto;
}

//banner

.banner-img{  
    height: 75vh; //讓手機版維持高度
    object-fit: cover; //讓背景圖底下圓角被裝飾確實遮擋
    @media(min-width: 992px) {
        border-radius: 80px;
    }
}

.deco-curve{
   position: absolute;
   left: 0;
   bottom: -2px;
   z-index: 1;
   width: 100%;
   height: 228px; //裝飾維持高度
   object-fit: none; //根據螢幕大小直接被裁切
}

//故事列表

.page-arrow{
    border-radius: 12px;
    background-color: white;
    color: $gray;
    &:hover{
        background-color: white;
        color: $primary;
    }
    &:focus{
        background: white;
        color: $primary;
    }
}


