<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>彰源鮮味</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <!--banner-->
      <section class=" px-lg-10 position-relative h-100" >
        <img src="../assets/images/banner.png" alt="banner" class="banner-img position-relative w-100">
        <!--手機版-->
        <div class="container position-absolute top-50 start-50 translate-middle text-center d-lg-none z-2">
          <div>
            <h4 class="bg-primary text-white px-4 py-3 mb-4 d-inline-block text-nowrap ">來自彰化的新鮮美味</h4>
            <form role="search" class="position-relative d-flex" >
              <div class="dropdown position-absolute top-50 start-0 translate-middle-y z-2">
                <button class="btn btn-white btn-sm fw-semibold fs-lg-6 fs-7 border-end border-1 rounded-0 text-nowrap ms-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  全部商品 <span class="material-symbols-outlined text-primary align-bottom">keyboard_arrow_down</span>
                </button>
                <ul class="dropdown-menu py-0">
                  <li><a class="dropdown-item border-bottom fw-semsibold" href="#">熱門商品</a></li>
                  <li><a class="dropdown-item fw-semibold" href="#">蔬菜水果</a></li>
                  <li><a class="dropdown-item fw-semibold" href="#">生鮮肉品</a></li>
                  <li><a class="dropdown-item fw-semibold" href="#">水產海鮮</a></li>
                  <li><a class="dropdown-item fw-semibold" href="#">蛋與乳品</a></li>
                </ul>
              </div>
              <input class="form-control form-control-lg fs-7 ps-11 " type="search" placeholder="立即選購！新鮮抵家啦～" aria-label="Search">
              <a href="#"><span class="material-symbols-outlined text-primary fs-2 position-absolute top-50 end-0 translate-middle-y  me-2">search</span ></a>
            </form>
          </div>         
        </div>
        <!--電腦版-->
        <div class="container px-lg-6 d-none d-lg-block">
          <div class="position-absolute top-50 translate-middle-y z-2">
            <h4 class="bg-primary text-white px-4 py-3 mb-4 d-inline-block fs-lg-4 fs-xl-1 text-nowrap ">來自彰化的新鮮美味</h4>
            <h4 class="bg-white px-4 py-3 mb-7 text-nowrap fs-lg-6 fs-xl-4 " >在地農夫精心栽培，每一口都是健康的保證</h4>
            <form role="search" class="position-relative d-flex" >
              <div class="dropdown position-absolute top-50 start-0 translate-middle-y z-2">
                <button class="btn btn-white btn-sm fw-semibold fs-lg-6 fs-7 border-end border-1 rounded-0 text-nowrap ms-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  全部商品 <span class="material-symbols-outlined text-primary align-bottom">keyboard_arrow_down</span>
                </button>
                <ul class="dropdown-menu py-0">
                  <li><a class="dropdown-item border-bottom fw-semibold" href="#">熱門商品</a></li>
                  <li><a class="dropdown-item fw-semibold" href="#">蔬菜水果</a></li>
                  <li><a class="dropdown-item fw-semibold" href="#">生鮮肉品</a></li>
                  <li><a class="dropdown-item fw-semibold" href="#">水產海鮮</a></li>
                  <li><a class="dropdown-item fw-semibold" href="#">蛋與乳品</a></li>
                </ul>
              </div>
              <input class="form-control form-control-lg fs-lg-6 fs-7 ps-11 " type="search" placeholder="立即選購！新鮮抵家啦～" aria-label="Search">
              <a href="#"><span class="material-symbols-outlined text-primary fs-2 position-absolute top-50 end-0 translate-middle-y  me-2">search</span ></a>
            </form>
          </div>         
        </div>
        <img src="../assets/images/Illustration/Top-Curve.png" alt="Top-Curve" class="deco-curve   " >
      </section>
      <!--3個理由-->
      <section class="reason reason-bg">
        <div class="container d-flex flex-column align-items-center py-lg-11 py-6">
          <div class="mb-8 d-flex flex-column align-items-center">
            <h4 class="fs-lg-1 mb-lg-4 mb-2">選擇彰源鮮味的3個理由</h4>
            <h5 class="fs-lg-4 text-accent">Choose us</h5>
          </div>
          <div class="row row-cols-lg-3 row-cols-1 d-flex flex-lg-row flex-column align-items-center justify-content-ceter gy-6 ">
            <div class="col">
              <div class="card bg-transparent border-0 d-flex flex-column align-items-center justify-content-ceter ">
                <picture>
                  <source media="(min-width: 992px)" srcset="../assets/images/Illustration/Farmer-sm.png">
                  <img src="../assets/images/Illustration/Farmer.png" alt="#" >
                </picture>
                <div class="reason-card-body d-flex flex-column align-items-center ">
                  <h5 class="reason-card-title fs-lg-4 bg-accent text-white px-lg-6 px-8 py-lg-3 py-2 rounded-4 mb-3">支持在地小農</h5>
                  <p class="card-text fs-lg-5 fs-7 px-4 py-lg-6 py-3 bg-white rounded-3">由彰化農民親手栽種，並確保每一份產品收益，妥當回饋農民，促進當地市場。</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-transparent border-0 d-flex flex-column align-items-center justify-content-ceter  ">
                <picture>
                  <source media="(min-width: 992px)" srcset="../assets/images/Illustration/ITruck-sm.png">
                  <img src="../assets/images/Illustration/ITruck.png" alt="#" >
                </picture>
                <div class="reason-card-body d-flex flex-column align-items-center">
                  <h5 class="card-title fs-lg-4 bg-accent text-white px-lg-6 px-8 py-lg-3 py-2 rounded-4 mb-3">產地新鮮直送</h5>
                  <p class="reason-card-text fs-lg-5 fs-7 px-4 py-lg-6 py-3 bg-white rounded-3">從田間到餐桌，確保產地直送，每一次配送都力求保存最新鮮的自然風味。</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card bg-transparent border-0 d-flex flex-column align-items-center justify-content-ceter ">
                <picture>
                  <source media="(min-width: 992px)" srcset="../assets/images/Illustration/Earth-sm.png">
                  <img src="../assets/images/Illustration/Earth.png" alt="#" >
                </picture>
                <div class="reason-card-body d-flex flex-column align-items-center">
                  <h5 class="card-title fs-lg-4 bg-accent text-white px-lg-6 px-8 py-lg-3 py-2 rounded-4 mb-3">維護環境永續</h5>
                  <p class="reason-card-text fs-lg-5 fs-7 px-4 py-lg-6 py-3 bg-white rounded-3">由專家嚴格控款，農作與畜產的用藥及碳排放，確保對環境以及您的健康無害。</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--商品列表-->
      <section>
        <div class="container py-lg-9 py-6">
          <!--商品列表nav-->
          <ul class="nav nav-tabs product-nav-tabs px-auto" id="MyProductTab" role="tablist">
            <div class="swiper MyProduct-nav-product-swiper px-6">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active product-nav-link border-0  fs-lg-3 fs-md-4 fs-6 text-nowrap"
                      id="hot-product-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#hot-product"
                      type="button"
                      role="tab"
                      aria-controls="hot-product"
                      aria-selected="true">
                      熱門商品
                      <div class=""></div>
                    </button>
                  </li>
                </div>
                <div class="swiper-slide">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link product-nav-link border-0  fs-lg-3 fs-md-4 fs-6 text-nowrap"
                      id="veggieNfruit-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#veggieNfruit"
                      type="button"
                      role="tab"
                      aria-controls="veggieNfruit"
                      aria-selected="false">
                      蔬菜水果
                    </button>
                  </li>
                </div>
                <div class="swiper-slide">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link product-nav-link border-0  fs-lg-3 fs-md-4 fs-6 text-nowrap"
                      id="meats-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#meats"
                      type="button"
                      role="tab"
                      aria-controls="meats"
                      aria-selected="false">
                      生鮮肉品
                    </button>
                  </li>
                </div>
                <div class="swiper-slide">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link product-nav-link border-0  fs-lg-3 fs-md-4 fs-6 text-nowrap"
                      id="seafood-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#seafood"
                      type="button"
                      role="tab"
                      aria-controls="seafood"
                      aria-selected="false">
                      水產海鮮
                    </button>
                  </li>
                </div>
                <div class="swiper-slide">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link product-nav-link border-0 fs-lg-3 fs-md-4 fs-6 text-nowrap"
                      id="eggNmilk-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#eggNmilk"
                      type="button"
                      role="tab"
                      aria-controls="eggNmilk"
                      aria-selected="false">
                      蛋與乳品
                    </button>
                  </li>
                </div>
              </div>
          </ul>
          <div class="tab-content" id="MyProductTabContent">
            <!--熱門商品內容-->
            <div class="tab-pane fade show active" id="hot-product" role="tabpanel" aria-labelledby="hot-product-tab">
              <!--熱門商品swiper-->
              <div class="MyProduct-product-card-wrap swiper MyProduct-product-swiper py-8 position-relative ">
                <div class="swiper-wrapper">
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type1.png" alt="type1" class="rounded-4">
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        埔鹽鄉多汁茂谷柑-3kg
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$600</p>
                        <del class="fs-8 text-gray fw-normal">NT$641</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active  ">
                    <div class="">
                      <img src="/assets/images/type22.png" alt="type2" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        芬園鄉濃純牛奶-200ml
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$36</p>
                        <del class="fs-8 text-gray fw-normal">NT$44</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type3.png" alt="type3" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        鹿港鎮鮮活文蛤-600g
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$190</p>
                        <del class="fs-8 text-gray fw-normal">NT$210</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type42.png" alt="type4" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        福興鄉翠綠豌豆-1000g
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$150</p>
                        <del class="fs-8 text-gray fw-normal">NT$200</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type42.png" alt="type4" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        怎麼又是豆豆
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$150</p>
                        <del class="fs-8 text-gray fw-normal">NT$200</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                </div>
                <div class="swiper-button-prev my-button-disabled"></div>
                <div class="swiper-button-next my-button-disabled"></div>
                <div class="swiper-scrollbar bg-secondary d-none d-lg-block rounded-3 start-50 translate-middle " style="width: 120px;"></div>
              </div>
            </div>
            <!--蔬菜水果內容-->
            <div class="tab-pane fade " id="veggieNfruit" role="tabpanel" aria-labelledby="veggieNfruit-tab">
              <!--蔬菜水果swiper-->
              <div class="MyProduct-product-card-wrap swiper MyProduct-product-swiper py-8 position-relative ">
                <div class="swiper-wrapper">
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type42.png" alt="type1" class="rounded-4">
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        綠豆
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$600</p>
                        <del class="fs-8 text-gray fw-normal">NT$641</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active  ">
                    <div class="">
                      <img src="/assets/images/type42.png" alt="type2" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        有人叫他豆豆
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$36</p>
                        <del class="fs-8 text-gray fw-normal">NT$44</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type42.png" alt="type3" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        好多豆豆
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$190</p>
                        <del class="fs-8 text-gray fw-normal">NT$210</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type42.png" alt="type4" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        炸多豆豆
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$150</p>
                        <del class="fs-8 text-gray fw-normal">NT$200</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type42.png" alt="type4" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        很可怕不要問
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$150</p>
                        <del class="fs-8 text-gray fw-normal">NT$200</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                </div>
                <div class="swiper-button-prev my-button-disabled"></div>
                <div class="swiper-button-next my-button-disabled"></div>
                <div class="swiper-scrollbar bg-secondary d-none d-lg-block rounded-3 start-50 translate-middle " style="width: 120px;"></div>
              </div>
            </div>
            <!--生鮮肉品內容-->
            <div class="tab-pane fade " id="meats" role="tabpanel" aria-labelledby="meats-tab">
              <!--生鮮肉品swiper-->
              <div class="MyProduct-product-card-wrap swiper MyProduct-product-swiper py-8 position-relative ">
                <div class="swiper-wrapper">
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/meat.png" alt="type1" class="rounded-4">
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        牛肉
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$600</p>
                        <del class="fs-8 text-gray fw-normal">NT$641</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active  ">
                    <div class="">
                      <img src="/assets/images/meat.png" alt="type2" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        羊肉
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$36</p>
                        <del class="fs-8 text-gray fw-normal">NT$44</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/meat.png" alt="type3" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        鹿肉
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$190</p>
                        <del class="fs-8 text-gray fw-normal">NT$210</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/meat.png" alt="type4" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        豬肉
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$150</p>
                        <del class="fs-8 text-gray fw-normal">NT$200</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/meat.png" alt="type4" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        吃了什麼肉都不知道
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$150</p>
                        <del class="fs-8 text-gray fw-normal">NT$200</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                </div>
                <div class="swiper-button-prev my-button-disabled"></div>
                <div class="swiper-button-next my-button-disabled"></div>
                <div class="swiper-scrollbar bg-secondary d-none d-lg-block rounded-3 start-50 translate-middle " style="width: 120px;"></div>
              </div>
            </div>
            <!--水產海鮮內容-->
            <div class="tab-pane fade " id="seafood" role="tabpanel" aria-labelledby="seafood-tab">
              <!--水產海鮮swiper-->
              <div class="MyProduct-product-card-wrap swiper MyProduct-product-swiper py-8 position-relative ">
                <div class="swiper-wrapper">
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type3.png" alt="type1" class="rounded-4">
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        蛤
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$200</p>
                        <del class="fs-8 text-gray fw-normal">NT$999</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active  ">
                    <div class="">
                      <img src="/assets/images/type3.png" alt="type2" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        蛤蛤
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$36</p>
                        <del class="fs-8 text-gray fw-normal">NT$44</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type3.png" alt="type3" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        蛤蛤蛤
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$190</p>
                        <del class="fs-8 text-gray fw-normal">NT$210</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type3.png" alt="type4" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        蛤蛤蛤蛤
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$150</p>
                        <del class="fs-8 text-gray fw-normal">NT$200</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type3.png" alt="type4" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        蛤夠了
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$150</p>
                        <del class="fs-8 text-gray fw-normal">NT$200</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                </div>
                <div class="swiper-button-prev my-button-disabled"></div>
                <div class="swiper-button-next my-button-disabled"></div>
                <div class="swiper-scrollbar bg-secondary d-none d-lg-block rounded-3 start-50 translate-middle " style="width: 120px;"></div>
              </div>
            </div>
            <!--蛋與乳品內容-->
            <div class="tab-pane fade " id="eggNmilk" role="tabpanel" aria-labelledby="eggNmilk-tab">
              <!--蛋與乳品swiper-->
              <div class="MyProduct-product-card-wrap swiper MyProduct-product-swiper py-8 position-relative ">
                <div class="swiper-wrapper">
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type22.png" alt="type1" class="rounded-4">
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        奶
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$600</p>
                        <del class="fs-8 text-gray fw-normal">NT$641</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active  ">
                    <div class="">
                      <img src="/assets/images/type22.png" alt="type2" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        牛奶
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$36</p>
                        <del class="fs-8 text-gray fw-normal">NT$44</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type22.png" alt="type3" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        ㄋㄟㄋㄟ
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$190</p>
                        <del class="fs-8 text-gray fw-normal">NT$210</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type22.png" alt="type4" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        牛奶多到
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$150</p>
                        <del class="fs-8 text-gray fw-normal">NT$200</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                  <a href="#" class="swiper-slide card border-0 swiper-slide-active ">
                    <div class="">
                      <img src="/assets/images/type22.png" alt="type4" class="rounded-4 " >
                    </div>
                    <div class="card-body px-0">
                      <h6 class="card-title  product-card-title fs-lg-5 text-nowrap fw-bold">
                        家裡好像養一頭牛
                      </h6>
                      <div class="card-text d-flex">
                        <p class="text-accent fw-bold me-2">NT$150</p>
                        <del class="fs-8 text-gray fw-normal">NT$200</del>                      
                      </div>
                    </div> 
                    <button class="btn btn-primary product-btn  border-0 fw-bold fs-lg-4 fs-5">
                      立即購買
                    </button> 
                  </a>
                </div>
                <div class="swiper-button-prev my-button-disabled"></div>
                <div class="swiper-button-next my-button-disabled"></div>
                <div class="swiper-scrollbar bg-secondary d-none d-lg-block rounded-3 start-50 translate-middle " style="width: 120px;"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--產地故事標題-->
      <section>
        <div class="container pt-lg-11 pt-6 pb-lg-8 pb-3 d-flex justify-content-lg-between justify-content-center">
          <div class="d-lg-flex d-none">
            <img src="../assets/images/Illustration/Pumpkin.png" alt="Pumpkin" class="me-8 d-xl-block d-none">
            <img src="../assets/images/Illustration/persimmon.png" alt="persimmon" class="me-8">
            <img src="../assets/images/Illustration/Pumpkin.png" alt="Pumpkin">
          </div>
          <div class=" d-flex flex-column align-items-center">
            <h4 class="fs-lg-1 mb-lg-4 mb-3">產地故事</h4>
            <h5 class="fs-lg-4 text-accent">Story</h5>
          </div>
          <div class="d-lg-flex d-none">
            <img src="../assets/images/Illustration/Pumpkin.png" alt="Pumpkin" class="me-8 d-xl-block d-none">
            <img src="../assets/images/Illustration/persimmon.png" alt="persimmon" class="me-8">
            <img src="../assets/images/Illustration/Pumpkin.png" alt="Pumpkin">
          </div>
        </div>
      </section>
      <!--產地故事內容-->
      <section class="bg-secondary">
        <div class="container py-lg-11 py-8 ">
          <div class="d-lg-flex justify-content-lg-between align-items-center">
            <div class="tab-content story-tab-content rounded-5 me-lg-6 me-0 mb-lg-0 mb-4" id="v-pills-tabContent">
              <div class="tab-pane fade show active"  id="v-pills-cauliflower" role="tabpanel" aria-labelledby="v-pills-cauliflower-tab" tabindex="0">
                <img src="../assets/images/Cauliflower HQ (2).png" alt="story1" class="story-img ">
              </div>
              <div class="tab-pane fade" id="v-pills-grape" role="tabpanel" aria-labelledby="v-pills-grape-tab" tabindex="0">
                <div class="tab-pane fade show active"  id="v-pills-cauliflower" role="tabpanel" aria-labelledby="v-pills-cauliflower-tab" tabindex="0">
                  <img src="../assets/images/story1.png" alt="story1" class="story-img ">
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-farmTotable" role="tabpanel" aria-labelledby="v-pills-farmTotable-tab" tabindex="0">
                <div class="tab-pane fade show active"  id="v-pills-cauliflower" role="tabpanel" aria-labelledby="v-pills-cauliflower-tab" tabindex="0">
                  <img src="../assets/images/about3.png" alt="story1" class="story-img ">
                </div>
              </div>
              <div class="tab-pane fade" id="v-pills-clam" role="tabpanel" aria-labelledby="v-pills-clam-tab" tabindex="0">
                <div class="tab-pane fade show active"  id="v-pills-cauliflower" role="tabpanel" aria-labelledby="v-pills-cauliflower-tab" tabindex="0">
                  <img src="../assets/images/Kindelmedia 8352389 1.png" alt="story1" class="story-img ">
                </div>
              </div>
            </div>
            <div class="nav story-nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a href="story-cauliflower.html"><button class="nav-link story-btn active text-start fs-lg-4 fs-6 position-relative" id="v-pills-cauliflower-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cauliflower" type="button" role="tab" aria-controls="v-pills-cauliflower" aria-selected="true">
                種植花椰菜的故事<span class="material-symbols-outlined story-icon">chevron_right</span>
              </button></a>
              <a href="story-grape.html"><button class="nav-link story-btn text-start fs-lg-4 fs-6 position-relative" id="v-pills-grape-tab" data-bs-toggle="pill" data-bs-target="#v-pills-grape" type="button" role="tab" aria-controls="v-pills-grape" aria-selected="false">
                葡萄園的奧秘<span class="material-symbols-outlined story-icon">chevron_right</span>
              </button></a>
              <a href="story-farm.html"></a><button class="nav-link story-btn text-start fs-lg-4 fs-6 position-relative" id="v-pills-farmTotable-tab" data-bs-toggle="pill" data-bs-target="#v-pills-farmTotable" type="button" role="tab" aria-controls="v-pills-farmTotable" aria-selected="false">
                從牧場到餐桌的旅程<span class="material-symbols-outlined story-icon">chevron_right</span>
              </button></a>
              <a href="story-clam.html"><button class="nav-link story-btn text-start fs-lg-4 fs-6 position-relative" id="v-pills-clam-tab" data-bs-toggle="pill" data-bs-target="#v-pills-clam" type="button" role="tab" aria-controls="v-pills-clam" aria-selected="false">
                用蛤打造的精緻佳餚<span class="material-symbols-outlined story-icon">chevron_right</span>
              </button></a>
            </div>
          </div>          
        </div>
        <div class="bg-white position-relative py-lg-7 py-3">
          <picture>
            <source media="(min-width: 992px)" srcset="../assets/images/deco/Arrow-Curve.png">
            <img src="../assets/images/deco/Arrow-Curve-sm.png" alt="Arrow-Curve" class="arrow-curve">
          </picture>
        </div>
      </section>
      <!--滿千免運-->
      <section >
        <div class="container pt-8 d-lg-block d-flex flex-column-reverse">
          <div class="row row-cols-lg-3 row-cols-1 position-relative ">
            <div class="col px-0">
              <div class="card border-0">
                <div class="card-body">
                  <h4 class="card-title fs-lg-1 text-accent text-lg-start text-center">01</h4>
                  <div class="d-flex flex-column align-items-center">
                    <picture>
                      <source media="(min-width: 992px)" srcset="../assets/images/Illustration/Tree.png">
                      <img src="../assets/images/Illustration/Tree-sm.png" alt="Tree" class="promotion-img">
                    </picture>
                  </div>
                  <div class="promotion-img-bottom"></div>
                  <p class="fs-lg-2 fs-md-3 fs-5 text-primary text-center mt-lg-3 mt-1">產地</p>
                </div>
              </div>
            </div>
            <div class="col px-0">
              <div class="card border-0">
                <div class="card-body">
                  <h4 class="card-title fs-lg-1 text-accent text-lg-start text-center">02</h4>
                  <div class="d-flex flex-column align-items-center">
                    <picture>
                      <source media="(min-width: 992px)" srcset="../assets/images/Illustration/Delivery.png">
                      <img src="../assets/images/Illustration/Delivery-sm.png" alt="Delivery" class="promotion-img">
                    </picture>
                  </div>
                  <div class="promotion-img-bottom"></div>
                  <p class="fs-lg-2 fs-md-3 fs-5 text-primary text-center mt-lg-3 mt-1">運送</p>
                </div>
              </div>
            </div>
            <div class="col px-0">
              <div class="card border-0">
                <div class="card-body">
                  <h4 class="card-title fs-lg-1 text-accent text-lg-start text-center">03</h4>
                  <div class="d-flex flex-column align-items-center">
                    <picture>
                      <source media="(min-width: 992px)" srcset="../assets/images/Illustration/Eating.png">
                      <img src="../assets/images/Illustration/Eating-sm.png" alt="Eating" class="promotion-img">
                    </picture>
                  </div>
                  <div class="promotion-img-bottom"></div>
                  <p class="fs-lg-2 fs-md-3 fs-5 text-primary text-center mt-lg-3 mt-1">餐桌</p>                 
                </div>
              </div>
            </div>
            <div>
              <img src="../assets/images/deco/Arrow-1.png" alt="Arrow-1" class="d-lg-block d-none promotion-arrow1"> 
              <img src="../assets/images/deco/Arrow-2.png" alt="Arrow-2" class="d-lg-block d-none promotion-arrow2"> 
            </div>
          </div>
          <div class="d-flex flex-column align-items-center pt-lg-8 pt-0">
            <h1 class="d-lg-block d-none mb-6">產地到餐桌，全館滿千免運!</h1>
            <h4 class="d-lg-none text-center mb-6">產地到餐桌 <br> 全館滿千免運</h4>
            <button class="btn btn-primary promotion-btn border-0 fw-bold fs-lg-4 fs-5 text-white">
              立即購買
            </button> 
            <div id="lottie-animation" class="lottie-hand"></div>
          </div>
        </div>
        <img src="../assets/images/Illustration/Top-Curve.png" alt="banner" class="promotion-curve">         
      </section>
      <!--合作店家-->
      <section class="bg-secondary">
        <div class="container py-lg-11 py-6 text-center">
          <h4 class="fs-lg-1 mb-lg-4 mb-3">長期合作店家推薦</h4>
          <h5 class="fs-lg-4 text-accent mb-lg-8 mb-6">Local Partner</h5>
          <div class="row row-cols-lg-4 row-cols-md-2 row-cols-1 gy-4">
            <div class="col">
              <div class="card rounded-4 border-0 d-md-block d-flex flex-row h-100">
                <div class="d-flex justify-content-center" >
                  <img src="../assets/images/store1.png" class="store-img " alt="store1" >
                </div>
                <div class="card-body">
                  <h6 class="card-title fs-lg-5 fw-bold text-md-center text-start">田園西餐廳</h6>
                  <p class="card-text text-gray text-start">本餐廳近日在「第十八屆國際美食國際美食大獎」中，榮獲「最佳新興餐廳」。</p>            
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-4 border-0 d-md-block d-flex flex-row h-100">
                <div class="d-flex justify-content-center" >
                  <img src="../assets/images/store2.png" class="store-img " alt="store2" >
                </div>
                <div class="card-body">
                  <h6 class="card-title fs-lg-5 fw-bold text-md-center text-start">綠野果汁</h6>
                  <p class="card-text text-gray text-start">綠野果汁在今年的「健康飲品大賞」中，榮獲「最佳果汁品牌」！</p>            
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-4 border-0 d-md-block d-flex flex-row h-100">
                <div class="d-flex justify-content-center" >
                  <img src="../assets/images/store3.png" class="store-img " alt="store3" >
                </div>
                <div class="card-body">
                  <h6 class="card-title fs-lg-5 fw-bold text-md-center text-start">阿花肉圓</h6>
                  <p class="card-text text-gray text-start">本店榮獲 Google 評比「台灣小吃店家」網路聲量第一名！</p>            
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card rounded-4 border-0 d-md-block d-flex flex-row h-100">
                <div class="d-flex justify-content-center" >
                  <img src="../assets/images/store4.png" class="store-img " alt="store4" >
                </div>
                <div class="card-body">
                  <h6 class="card-title fs-lg-5 fw-bold text-md-center text-nowrap text-start">彰水路第一家滷肉飯</h6>
                  <p class="card-text text-gray text-start">本店榮獲 Google 評比「台灣小吃店家」網路聲量第二名！</p>            
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      
    </main>
    
    <%- include('./layout/footer'); -%>
 
    <script type="module" src="../main.js"></script>

    <!--輪播-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!--選購小手手-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.6/lottie.min.js"></script>


    <script>
      var swiper = new Swiper(".MyProduct-product-swiper", {
        slidesPerView: 1,
        spaceBetween: 24,
        loop: false,
        breakpoints: {
          768: {
            slidesPerView: 2,
            spaceBetween: 24,
          },
          1200: {
            slidesPerView: 4,
            spaceBetween: 24,
          }
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
          disabledClass: 'my-button-disabled'
        },
        scrollbar: {
          el: ".swiper-scrollbar",
        },
      });

      var swiper = new Swiper(".MyProduct-nav-product-swiper", {
        slidesPerView: 3.5,
        spaceBetween: 24,
        loop: false,
        breakpoints: {         
          875: {
            slidesPerView: 5,
            spaceBetween: 24,
          }
        },
      });
    </script>

    <script>
      var animation = lottie.loadAnimation({
        container: document.getElementById('lottie-animation'), // 容器元素
        renderer: 'svg', // 渲染方式
        loop: true, // 是否循環播放
        autoplay: true, // 是否自動播放
        path: '../assets/animations/lottie-hand.json' // Lottie動畫文件的路徑
      });
    </script>

  </body>
</html>
