<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>線西鄉白蝦</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="header.js"></script>

</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container product">
            <main class="position-relative mb-lg-11 mb-0 mt-lg-7">

                <div class="row gx-lg-5">
                    <!-- mobile展示圖片 -->
                    <div class="d-lg-none mobile-box">
                        <div class="swiper mySwiper3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="../assets/images/Seafood from Pexels 1.png" alt="">
                                </div>
                                <div class="swiper-slide"><img
                                        src="https://img.cloudimg.in/uploads/shops/33365/products/70/70efe85a445fc179db149b24b7fe3d90.jpg"
                                        alt="">
                                </div>
                                <div class="swiper-slide"><img
                                        src="https://y3.yooho.com.tw/images/201607/goods_img/748_G_1468955679672.jpg"
                                        alt="">
                                </div>
                                <div class="swiper-slide"><img
                                        src="https://www.alinsign.tw/image/cache/catalog/alins/shrimp05-1100x1100w.jpg.webp"
                                        alt="">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!-- pc展示圖片 -->
                    <div class="col-lg-5 d-none d-lg-block pc-box">
                        <div class="swiper mySwiper2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="../assets/images/Seafood from Pexels 1.png" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://img.cloudimg.in/uploads/shops/33365/products/70/70efe85a445fc179db149b24b7fe3d90.jpg" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://y3.yooho.com.tw/images/201607/goods_img/748_G_1468955679672.jpg" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://www.alinsign.tw/image/cache/catalog/alins/shrimp05-1100x1100w.jpg.webp" />
                                </div>
                            </div>
                        </div>
                        <div thumbsSlider="" class="swiper mySwiper pt-4 pb-0">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="../assets/images/Seafood from Pexels 1.png" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://img.cloudimg.in/uploads/shops/33365/products/70/70efe85a445fc179db149b24b7fe3d90.jpg" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://y3.yooho.com.tw/images/201607/goods_img/748_G_1468955679672.jpg" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://www.alinsign.tw/image/cache/catalog/alins/shrimp05-1100x1100w.jpg.webp" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 d-flex flex-column justify-content-between px-lg-5">
                        <div class="mt-5 mt-lg-0">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-2">
                                    <li class="breadcrumb-item fs-7 fs-lg-6 fw-normal"><a href="#">水產海鮮</a></li>
                                    <li class="breadcrumb-item fs-7 fs-lg-6 fw-normal"><a href="#">蝦蟹</a></li>
                                    <li class="breadcrumb-item active fs-7 fs-lg-6 fw-normal" aria-current="page">
                                        線西鄉白蝦</li>
                                </ol>
                            </nav>
                            <h1 class="fs-4 fs-lg-2 mb-1">線西鄉白蝦</h1>
                            <p class="mb-3 text-gray fw-normal fs-6 fs-lg-5">肉質鮮嫩、口感脆甜</p>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                    aria-labelledby="price1">
                                    <div class="d-flex align-items-end">
                                        <h2 class="text-accent fs-5 fs-lg-4 en-font me-2">NT$295</h2>
                                        <p
                                            class="text-decoration-line-through text-gray fs-7 fs-lg-6 fw-normal en-font">
                                            NT$350</p>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="price2">
                                    <div class="d-flex align-items-end">
                                        <h2 class="text-accent fs-5 fs-lg-4 en-font me-2">NT$200</h2>
                                        <p
                                            class="text-decoration-line-through text-gray fs-7 fs-lg-6 fw-normal en-font">
                                            NT$250</p>
                                    </div>
                                </div>
                                <p class="text-accent mb-3 fs-7 fs-lg-6
                            fs-6 fs-lg-5">*低溫冷凍商品</p>
                            </div>
                        </div>
                        <div>
                            <p class="text-primary fs-7 mb-2">規格</p>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="btn btn-outline-gray active me-2 fs-6 fs-lg-5 btn-outline-gray-big"
                                        id="price1" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
                                        role="tab" aria-controls="pills-home" aria-selected="true">帶殼白蝦300g</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="btn btn-outline-gray fs-6 fs-lg-5 btn-outline-gray-big" id="price2"
                                        data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">去殼蝦仁150g</button>
                                </li>
                            </ul>
                            <div class="mb-5">
                                <div class="d-flex justify-content-between w-50">
                                    <p class="text-primary fs-7 mb-2">數量</p>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active d-none d-lg-block" id="pills-home" role="tabpanel"
                                            aria-labelledby="price1">
                                            <p class="text-gray">剩餘 10 盒</p>
                                        </div>
                                        <div class="tab-pane fade d-none d-lg-block" id="pills-profile" role="tabpanel"
                                            aria-labelledby="price2">剩餘 3 盒</div>
                                    </div>

                                </div>
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-s me-2"><span
                                            class="material-symbols-outlined align-middle">remove</span></button>
                                    <button class="btn btn-outline-gray fs-6 fs-lg-5">1</button>
                                    <button class="btn btn-s ms-2"><span
                                            class="material-symbols-outlined align-middle">add</span></button>
                                </div>
                            </div>
                            <div class="d-lg-flex">
                                <a href="#" class="btn btn-L w-100 mb-3 mb-lg-0 fs-5 py-3 me-lg-5 me-0">加入購物車</a>
                                <a href="#" class="btn btn-L w-100 active fs-5 py-3">立即購買</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- mobile文案 -->
            <article class="d-lg-none">
                <ul class="list-unstyled">
                    <li class="my-5">
                        <h2>商品介紹</h2>
                        <p class="mb-2">
                            線西鄉的海洋珍饈—白蝦
                        </p>
                        <p>位於台灣彰化縣的線西鄉，擁有豐富的海岸資源和優質的水域環境，孕育出享譽全台的白蝦。這裡的白蝦以其肉質鮮嫩、口感脆甜、營養豐富而聞名，成為海鮮愛好者餐桌上的常客。
                        </p>
                        <p data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample" class="text-center text-primary">看全部<span
                                class="material-symbols-outlined align-middle">keyboard_arrow_down</span></p>
                        <div class="collapse" id="collapseExample">
                            <div class="card border-0">
                                <img src="https://images.unsplash.com/photo-1674066625481-8cffd7cf5aac?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    alt="whiteShrimp" class="card-img img-fluid">
                                <p class="card-text mb-2">
                                    線西鄉的白蝦生長於純淨的海水養殖場，養殖過程注重環境保護和水質管理，確保每隻白蝦都能在健康的環境中成長。這讓線西白蝦不僅擁有絕佳的口感，還富含高蛋白質、低脂肪，以及多種維生素與礦物質，讓您品嚐美味的同時也享受健康的營養補充。
                                </p>
                                <p class="card-text mb-3">
                                    線西鄉白蝦適合各種烹調方式，不論是清蒸、燒烤、油炸或紅燒，白蝦都能展現出其特有的鮮甜和彈牙的口感。用最簡單的方式就能品味到大海的原始鮮味，也可以創造出多樣化的料理風格，滿足不同口味的需求。無論是家庭日常用餐，還是宴客佳餚，線西白蝦總能成為餐桌上的亮點。
                                </p>
                                <img src="https://plus.unsplash.com/premium_photo-1707161782700-b6110d6de469?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    alt="whiteShrimp" class="card-img img-fluid">
                                <p class="card-text mb-2">
                                    海洋與土地的珍貴結合
                                </p>
                                <p class="card-text mb-3">
                                    線西鄉的漁民世代以養殖白蝦為生，透過多年來的傳統智慧與現代技術的結合，實現了可持續的養殖方式。他們對自然環境的深厚情感，保證了每一隻白蝦的品質與美味，讓消費者能夠安心選擇，盡享來自海洋的極致饗宴。
                                </p>
                                <img src="https://plus.unsplash.com/premium_photo-1673809798703-6082a015f931?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    alt="whiteShrimp" class="card-img img-fluid">
                            </div>
                        </div>
                    </li>
                    <li class="my-5">
                        <h2>規格說明</h2>
                        <p>帶殼白蝦300g，約18~19隻 /盒</p>
                        <p>去殼蝦仁150g，150g ±10% /盒</p>
                    </li>
                    <li class="my-5">
                        <h2>保存方法</h2>
                        <p>收到後冷凍保存 7-10 天,請盡快於賞味期限內食用完畢</p>
                    </li>
                    <li class="my-5">
                        <h2>滿額免運原則</h2>
                        <ol>
                            <li>
                                全館商品滿 $1000 (含及以上)即享免運服務
                            </li>
                            <li>
                                訂單含冷凍商品時，僅提供宅配服務
                            </li>
                        </ol>
                    </li>
                </ul>
            </article>
            <!-- pc文案 -->
            <article class="d-none d-lg-block">
                <nav id="navbar-example2">
                    <ul class="list-unstyled d-flex justify-content-between w-100 border-bottom mb-8">
                        <li class="btn text-center w-100 me-5 p-0 border-bottom-transparent border-4">
                            <a href="#scrollspyHeading1" class="py-4 fs-4 text-black active">商品介紹</a>
                        </li>
                        <li class="btn text-center w-100 me-5 p-0 border-bottom-transparent border-4">
                            <a href="#scrollspyHeading2" class="py-4 fs-4 text-black">規格說明</a>
                        </li>
                        <li class="btn text-center w-100 p-0 border-bottom-transparent border-4">
                            <a href="#scrollspyHeading3" class="py-4 fs-4 text-black">評論</a>
                        </li>
                    </ul>
                </nav>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0"
                    class="scrollspy-example pt-8" tabindex="0">
                    <div id="scrollspyHeading1">
                        <p class="mb-3">
                            線西鄉的海洋珍饈—白蝦
                        </p>
                        <p>位於台灣彰化縣的線西鄉，擁有豐富的海岸資源和優質的水域環境，孕育出享譽全台的白蝦。這裡的白蝦以其肉質鮮嫩、口感脆甜、營養豐富而聞名，成為海鮮愛好者餐桌上的常客。
                        </p>
                        <img src="https://images.unsplash.com/photo-1674066625481-8cffd7cf5aac?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="whiteShrimp" class="img-fluid">
                        <p class="mb-3">
                            線西鄉的白蝦生長於純淨的海水養殖場，養殖過程注重環境保護和水質管理，確保每隻白蝦都能在健康的環境中成長。這讓線西白蝦不僅擁有絕佳的口感，還富含高蛋白質、低脂肪，以及多種維生素與礦物質，讓您品嚐美味的同時也享受健康的營養補充。
                        </p>
                        <p class="card-text mb-3">
                            線西鄉白蝦適合各種烹調方式，不論是清蒸、燒烤、油炸或紅燒，白蝦都能展現出其特有的鮮甜和彈牙的口感。用最簡單的方式就能品味到大海的原始鮮味，也可以創造出多樣化的料理風格，滿足不同口味的需求。無論是家庭日常用餐，還是宴客佳餚，線西白蝦總能成為餐桌上的亮點。
                        </p>
                        <img src="https://plus.unsplash.com/premium_photo-1707161782700-b6110d6de469?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="whiteShrimp" class="img-fluid">
                        <p class="mb-3">
                            海洋與土地的珍貴結合
                        </p>
                        <p>線西鄉的漁民世代以養殖白蝦為生，透過多年來的傳統智慧與現代技術的結合，實現了可持續的養殖方式。他們對自然環境的深厚情感，保證了每一隻白蝦的品質與美味，讓消費者能夠安心選擇，盡享來自海洋的極致饗宴。
                        </p>
                        <img src="https://plus.unsplash.com/premium_photo-1673809798703-6082a015f931?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="whiteShrimp" class="img-fluid">
                    </div>
                    <ul id="scrollspyHeading2" class="list-unstyled">
                        <li class="mb-8">
                            <h2>規格說明</h2>
                            <p>帶殼白蝦300g，約18~19隻 /盒</p>
                            <p>去殼蝦仁150g，150g ±10% /盒</p>
                        </li>
                        <li class="mb-8">
                            <h2>保存方法</h2>
                            <p>收到後冷凍保存 7-10 天,請盡快於賞味期限內食用完畢</p>
                        </li>
                        <li class="mb-8">
                            <h2>滿額免運原則</h2>
                            <ol>
                                <li>
                                    全館商品滿 $1000 (含及以上)即享免運服務
                                </li>
                                <li>
                                    訂單含冷凍商品時，僅提供宅配服務
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </article>
            <section class="section1 mb-5 pt-8 border-top" id="scrollspyHeading3">
                <div class="d-flex justify-content-between mb-3">
                    <h2>評論</h2>
                    <a href="#" class="link-primary d-none d-lg-block" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">看所有評論 (14)</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content bg-secondary-200">
                                <div class="modal-header border-0 px-0 pt-6 pb-3">
                                    <h5 class="modal-title text-black" id="exampleModalLabel">所有評論 (14)</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-0">
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">吳*緯</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-gray fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>蝦子很新鮮，好吃!</p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">台中邱媽媽</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-gray fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>蝦肉非常新鮮，沒有任何腥味，而且味道很天然。
                                        </p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">林曉萱</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p class="fs-lg-6">
                                            線西鄉白蝦的彈牙口感和鮮美味道真的太棒了，不管是拿來清炒、紅燒還是炸蝦仁，都非常適合。它的肉質緊實多汁，幾乎不需要過多的調味就能吃出原始的鮮味，非常推薦！
                                        </p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">許*諒</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>每次吃這款白蝦，都覺得自己像是在享受大海中的珍饈。不僅料理簡單，蝦肉的香氣和口感都讓人回味無窮。
                                        </p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">嘉義王姓主婦</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>作為一名海鮮愛好者，線西鄉的白蝦讓我感受到了什麼叫「極致鮮美」</p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">陳*宇</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>好棒的海鮮
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">吳*緯</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-gray fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 fs-lg-6">
                                蝦子很新鮮，好吃!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">台中邱媽媽</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-gray fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 fs-lg-6">
                                蝦肉非常新鮮，沒有任何腥味，而且味道很天然。</p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">林曉萱</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 text-truncate d-lg-none">
                                線西鄉白蝦的彈牙口感和鮮美味道真的太棒了，不管是拿來清炒、紅燒還是炸蝦仁，都非常適合。它的肉質緊實多汁，幾乎不需要過多的調味就能吃出原始的鮮味，非常推薦！</p>
                            <p class="card-text fs-6 d-none d-lg-block">
                                線西鄉白蝦的彈牙口感和鮮美味道真的太棒了，不管是拿來清炒、紅燒還是炸蝦仁，都非常適合。它的肉質緊實多汁，幾乎不需要過多的調味就能吃出原始的鮮味，非常推薦！</p>
                            <a href="#" class="mt-auto fs-7 link-primary" data-bs-toggle="modal"
                                data-bs-target="#model2">看全部</a>
                            <div class="modal fade" id="model2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content py-5">
                                        <h3 class="fs-5 text-black mb-3">林曉萱</h3>
                                        <div class="mb-4">
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5">star</span>
                                        </div>
                                        <p>線西鄉白蝦的彈牙口感和鮮美味道真的太棒了，不管是拿來清炒、紅燒還是炸蝦仁，都非常適合。它的肉質緊實多汁，幾乎不需要過多的調味就能吃出原始的鮮味，非常推薦！
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">許*諒</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 text-truncate d-lg-none">
                                每次吃這款白蝦，都覺得自己像是在享受大海中的珍饈。不僅料理簡單，蝦肉的香氣和口感都讓人回味無窮。</p>
                            <p class="card-text fs-6 d-none d-lg-block">
                                每次吃這款白蝦，都覺得自己像是在享受大海中的珍饈。不僅料理簡單，蝦肉的香氣和口感都讓人回味無窮。</p>
                            <a href="#" class="mt-auto fs-7 link-primary" data-bs-toggle="modal"
                                data-bs-target="#model3">看全部</a>
                            <div class="modal fade" id="model3" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content py-5">
                                        <h3 class="fs-5 text-black mb-3">許*諒</h3>
                                        <div class="mb-4">
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5">star</span>
                                        </div>
                                        <p>每次吃這款白蝦，都覺得自己像是在享受大海中的珍饈。不僅料理簡單，蝦肉的香氣和口感都讓人回味無窮。
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p data-bs-toggle="collapse" href="#collapseCommet" role="button" aria-expanded="false"
                        aria-controls="collapseExample" class="text-primary text-center d-lg-none">看所有評論 (14)</p>
                    <div class="collapse d-lg-none" id="collapseCommet">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5 mb-2">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">嘉義王姓主婦</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 fs-lg-6">
                                作為一名海鮮愛好者，線西鄉的白蝦讓我感受到了什麼叫「極致鮮美」</p>
                        </div>
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">陳*宇</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-6 fs-lg-6 fs-7 text-truncate d-lg-none">
                                好棒的海鮮
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <img src="../assets/images/Illustration/Top-Curve.png" alt="banner" class="promotion-curve">
        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesProgress: true,
                });
                var swiper2 = new Swiper(".mySwiper2", {
                    spaceBetween: 10,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    thumbs: {
                        swiper: swiper,
                    },
                });
                var swiper3 = new Swiper(".mySwiper3", {
                    pagination: {
                        el: ".swiper-pagination",
                        type: "fraction",
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            </script>

</body>

</html>