<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>秀水鄉虱目魚肚</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="header.js"></script>

</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container product">
            <main class="position-relative mb-lg-11 mb-0 mt-lg-7">
                
                <div class="row gx-lg-5">
                    <!-- mobile展示圖片 -->
                    <div class="d-lg-none mobile-box">
                        <div class="swiper mySwiper3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="https://rs.joo.com.tw/website/uploads_product/website_1308/P0130800182775_3_1213838.jpg?_45324" alt="">
                                </div>
                                <div class="swiper-slide"><img
                                        src="https://cdn.qbo.shop/WebUPD/tw/EshopProduct/189158_unfgvmcyf5894776.jpg"
                                        alt="">
                                </div>
                                <div class="swiper-slide"><img
                                        src="https://www.newsmarket.com.tw/files/2022/09/%E8%99%B1%E7%9B%AE%E9%AD%9A%E6%98%AF%E5%9C%8B%E6%B0%91%E7%BE%8E%E9%A3%9F%EF%BC%8C%E4%BD%86%E6%98%AF%E5%A6%82%E4%BB%8A%E5%8D%BB%E5%8F%AF%E8%83%BD%E8%B6%8A%E4%BE%86%E8%B6%8A%E9%9B%A3%E7%AB%AF%E4%B8%8A%E5%9C%8B%E4%BA%BA%E9%A4%90%E6%A1%8C%E3%80%82%EF%BC%88%E6%94%9D%E5%BD%B1%E6%9E%97%E5%90%89%E6%B4%8B%EF%BC%89.jpg"
                                        alt=""></div>
                                <div class="swiper-slide"><img
                                        src="../assets/images/Fish from Pexels 1.png"
                                        alt="">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!-- pc展示圖片 -->
                    <div class="col-lg-5 d-none d-lg-block pc-box">
                        <div class="swiper mySwiper2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="https://rs.joo.com.tw/website/uploads_product/website_1308/P0130800182775_3_1213838.jpg?_45324" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://cdn.qbo.shop/WebUPD/tw/EshopProduct/189158_unfgvmcyf5894776.jpg" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://www.newsmarket.com.tw/files/2022/09/%E8%99%B1%E7%9B%AE%E9%AD%9A%E6%98%AF%E5%9C%8B%E6%B0%91%E7%BE%8E%E9%A3%9F%EF%BC%8C%E4%BD%86%E6%98%AF%E5%A6%82%E4%BB%8A%E5%8D%BB%E5%8F%AF%E8%83%BD%E8%B6%8A%E4%BE%86%E8%B6%8A%E9%9B%A3%E7%AB%AF%E4%B8%8A%E5%9C%8B%E4%BA%BA%E9%A4%90%E6%A1%8C%E3%80%82%EF%BC%88%E6%94%9D%E5%BD%B1%E6%9E%97%E5%90%89%E6%B4%8B%EF%BC%89.jpg" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="../assets/images/Fish from Pexels 1.png" />
                                </div>
                            </div>
                        </div>
                        <div thumbsSlider="" class="swiper mySwiper pt-4 pb-0">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="https://rs.joo.com.tw/website/uploads_product/website_1308/P0130800182775_3_1213838.jpg?_45324" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://cdn.qbo.shop/WebUPD/tw/EshopProduct/189158_unfgvmcyf5894776.jpg" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://www.newsmarket.com.tw/files/2022/09/%E8%99%B1%E7%9B%AE%E9%AD%9A%E6%98%AF%E5%9C%8B%E6%B0%91%E7%BE%8E%E9%A3%9F%EF%BC%8C%E4%BD%86%E6%98%AF%E5%A6%82%E4%BB%8A%E5%8D%BB%E5%8F%AF%E8%83%BD%E8%B6%8A%E4%BE%86%E8%B6%8A%E9%9B%A3%E7%AB%AF%E4%B8%8A%E5%9C%8B%E4%BA%BA%E9%A4%90%E6%A1%8C%E3%80%82%EF%BC%88%E6%94%9D%E5%BD%B1%E6%9E%97%E5%90%89%E6%B4%8B%EF%BC%89.jpg" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="../assets/images/Fish from Pexels 1.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 d-flex flex-column justify-content-between px-lg-5">
                        <div class="mt-5 mt-lg-0">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-2">
                                    <li class="breadcrumb-item fs-7 fs-lg-6 fw-normal"><a href="#">水產海鮮</a></li>
                                    <li class="breadcrumb-item fs-7 fs-lg-6 fw-normal"><a href="#">魚類</a></li>
                                    <li class="breadcrumb-item active fs-7 fs-lg-6 fw-normal" aria-current="page">
                                        秀水鄉虱目魚肚</li>
                                </ol>
                            </nav>
                            <h1 class="fs-4 fs-lg-2 mb-1">秀水鄉虱目魚肚</h1>
                            <p class="mb-3 text-gray fw-normal fs-6 fs-lg-5">品質保證，鮮甜美味</p>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                    aria-labelledby="price1">
                                    <div class="d-flex">
                                        <h2 class="text-accent fs-5 fs-lg-4 en-font me-2">NT$200</h2>
                                        <p
                                            class="text-decoration-line-through text-gray fs-7 fs-lg-6 fw-normal en-font">
                                            NT$999</p>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="price2">
                                    <div class="d-flex">
                                        <h2 class="text-accent fs-5 fs-lg-4 en-font me-2">NT$450</h2>
                                        <p
                                            class="text-decoration-line-through text-gray fs-7 fs-lg-6 fw-normal en-font">
                                            NT$1299</p>
                                    </div>
                                </div>
                                <p class="text-accent mb-3 fs-7 fs-lg-6
                            fs-6 fs-lg-5">*低溫冷凍商品</p>
                            </div>
                        </div>
                        <div>
                            <p class="text-primary fs-7 mb-2">規格</p>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="btn btn-outline-gray active me-2 fs-6 fs-lg-5 btn-outline-gray-big"
                                        id="price1" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
                                        role="tab" aria-controls="pills-home" aria-selected="true">2片
                                        /包</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="btn btn-outline-gray fs-6 fs-lg-5 btn-outline-gray-big" id="price2"
                                        data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">5片
                                        /包</button>
                                </li>
                            </ul>
                            <div class="mb-5">
                                <div class="d-flex justify-content-between w-50">
                                    <p class="text-primary fs-7 mb-2">數量</p>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active d-none d-lg-block" id="pills-home"
                                            role="tabpanel" aria-labelledby="price1">
                                            <p class="text-gray">剩餘 25 包</p>
                                        </div>
                                        <div class="tab-pane fade d-none d-lg-block" id="pills-profile" role="tabpanel"
                                            aria-labelledby="price2">剩餘 30 包</div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-s me-2"><span
                                            class="material-symbols-outlined align-middle">remove</span></button>
                                    <button class="btn btn-outline-gray fs-6 fs-lg-5">1</button>
                                    <button class="btn btn-s ms-2"><span
                                            class="material-symbols-outlined align-middle">add</span></button>
                                </div>
                            </div>
                            <div class="d-lg-flex">
                                <a href="#" class="btn btn-L w-100 mb-3 mb-lg-0 fs-5 py-3 me-lg-5 me-0">加入購物車</a>
                                <a href="#" class="btn btn-L w-100 active fs-5 py-3">立即購買</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- mobile文案 -->
            <article class="d-lg-none">
                <ul class="list-unstyled">
                    <li class="my-5">
                        <h2>商品介紹</h2>
                        <p class="mb-2">
                            天然環保養殖，鮮美更安心
                        </p>
                        <p>在秀水鄉，我們採用最先進的環保養殖技術，確保水質純淨無污染，為虱目魚創造一個健康成長的理想環境。魚塭中的虱目魚完全遵循自然生長規律，不使用過量的藥物與人工添加，讓每一條虱目魚都能保持最天然的鮮甜風味。
                        </p>
                        <p data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample" class="text-center text-primary">看全部<span
                                class="material-symbols-outlined align-middle">keyboard_arrow_down</span></p>
                        <div class="collapse" id="collapseExample">
                            <div class="card border-0">
                                <img src="https://img.ltn.com.tw/Upload/news/600/2022/09/24/4068656_6_1.jpg"
                                    alt="milkFish" class="card-img img-fluid">
                                <p class="card-text mb-2">秀水鄉虱目魚擁有柔嫩的魚肉，入口即化的口感令人無法抗拒。無論是煮湯、清蒸，還是煎烤，虱目魚的鮮美風味都能瞬間提升您的料理品質。每一口都是大自然的鮮甜滋味，令人回味無窮。</p>
                                <p class="card-text mb-3">養殖的秀水鄉虱目魚不僅美味，還富含Omega-3脂肪酸、高品質蛋白、維生素D與多種礦物質，對心血管健康、提升免疫力有顯著的好處。無論是老人、孩子還是追求健康生活的人士，這款虱目魚都是補充營養的理想選擇。</p>
                                <img src="https://mytainan.com/wp-content/uploads/2020/04/%E5%8F%B0%E5%8D%97%E9%98%BF%E6%98%9F%E9%B9%B9%E7%B2%A5-8-1-B.jpg"
                                    alt="milkFish" class="card-img img-fluid">
                                <p class="card-text mb-2">穩定供應，全年享受鮮美佳餚</p>
                                <p class="card-text mb-3">
                                    作為養殖魚，秀水鄉虱目魚能夠保證全年穩定供應，無論季節變化，都能讓您在家中享受到最新鮮的虱目魚。我們堅持當天捕撈、當天配送，確保虱目魚從水中到餐桌始終保持最佳狀態，給您最貼心的鮮度承諾。
                                </p>
                                <img src="https://www.yooho.com.tw/images/upload/Image/2021-03/first.jpg"
                                    alt="milkFish" class="card-img img-fluid">
                            </div>
                        </div>
                    </li>
                    <li class="my-5">
                        <h2>規格說明</h2>
                        <p>2條 /包， 150g ±10% /包</p>
                        <p>5條 /包， 376g ±10% /包</p>
                    </li>
                    <li class="my-5">
                        <h2>保存方法</h2>
                        <p>收到後冷凍保存 7-10 天,請盡快於賞味期限內食用完畢</p>
                    </li>
                    <li class="my-5">
                        <h2>滿額免運原則</h2>
                        <ol>
                            <li>
                                全館商品滿 $1000 (含及以上)即享免運服務
                            </li>
                            <li>
                                訂單含冷凍商品時，僅提供宅配服務
                            </li>
                        </ol>
                    </li>
                </ul>
            </article>
            <!-- pc文案 -->
            <article class="d-none d-lg-block">
                <nav id="navbar-example2">
                    <ul class="list-unstyled d-flex justify-content-between w-100 border-bottom mb-8">
                        <li class="btn text-center w-100 me-5 p-0 border-bottom-transparent border-4">
                            <a href="#scrollspyHeading1" class="py-4 fs-4 text-black active">商品介紹</a>
                        </li>
                        <li class="btn text-center w-100 me-5 p-0 border-bottom-transparent border-4">
                            <a href="#scrollspyHeading2" class="py-4 fs-4 text-black">規格說明</a>
                        </li>
                        <li class="btn text-center w-100 p-0 border-bottom-transparent border-4">
                            <a href="#scrollspyHeading3" class="py-4 fs-4 text-black">評論</a>
                        </li>
                    </ul>
                </nav>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0"
                    class="scrollspy-example pt-8" tabindex="0">
                    <div id="scrollspyHeading1">
                        <p class="mb-3">
                            天然環保養殖，鮮美更安心
                        </p>
                        <p>在秀水鄉，我們採用最先進的環保養殖技術，確保水質純淨無污染，為虱目魚創造一個健康成長的理想環境。魚塭中的虱目魚完全遵循自然生長規律，不使用過量的藥物與人工添加，讓每一條虱目魚都能保持最天然的鮮甜風味。
                        </p>
                        <img src="https://img.ltn.com.tw/Upload/news/600/2022/09/24/4068656_6_1.jpg"
                            alt="milkFish" class="img-fluid">
                        <p class="mb-3">秀水鄉虱目魚擁有柔嫩的魚肉，入口即化的口感令人無法抗拒。無論是煮湯、清蒸，還是煎烤，虱目魚的鮮美風味都能瞬間提升您的料理品質。每一口都是大自然的鮮甜滋味，令人回味無窮。</p>
                        <p class="card-text mb-3">養殖的秀水鄉虱目魚不僅美味，還富含Omega-3脂肪酸、高品質蛋白、維生素D與多種礦物質，對心血管健康、提升免疫力有顯著的好處。無論是老人、孩子還是追求健康生活的人士，這款虱目魚都是補充營養的理想選擇。</p>
                        <img src="https://mytainan.com/wp-content/uploads/2020/04/%E5%8F%B0%E5%8D%97%E9%98%BF%E6%98%9F%E9%B9%B9%E7%B2%A5-8-1-B.jpg"
                            alt="milkFish" class="img-fluid">
                        <p class="mb-3">穩定供應，全年享受鮮美佳餚</p>
                        <p>作為養殖魚，秀水鄉虱目魚能夠保證全年穩定供應，無論季節變化，都能讓您在家中享受到最新鮮的虱目魚。我們堅持當天捕撈、當天配送，確保虱目魚從水中到餐桌始終保持最佳狀態，給您最貼心的鮮度承諾。
                        </p>
                        <img src="https://www.yooho.com.tw/images/upload/Image/2021-03/first.jpg"
                            alt="milkFish" class="img-fluid">
                    </div>
                    <ul id="scrollspyHeading2" class="list-unstyled">
                        <li class="mb-8">
                            <h2>規格說明</h2>
                            <p>2條 /包， 150g ±10% /包</p>
                            <p>5條 /包， 376g ±10% /包</p>
                        </li>
                        <li class="mb-8">
                            <h2>保存方法</h2>
                            <p>收到後冷凍保存 7-10 天,請盡快於賞味期限內食用完畢</p>
                        </li>
                        <li class="mb-8">
                            <h2>滿額免運原則</h2>
                            <ol>
                                <li>
                                    全館商品滿 $1000 (含及以上)即享免運服務
                                </li>
                                <li>
                                    訂單含冷凍商品時，僅提供宅配服務
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </article>
            <section class="section1 mb-5 pt-8 border-top" id="scrollspyHeading3">
                <div class="d-flex justify-content-between mb-3">
                    <h2>評論</h2>
                    <a href="#" class="link-primary d-none d-lg-block" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">看所有評論 (14)</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content bg-secondary-200">
                                <div class="modal-header border-0 px-0 pt-6 pb-3">
                                    <h5 class="modal-title text-black" id="exampleModalLabel">所有評論 (14)</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-0">
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">彰化陳媽媽</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-gray fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>每天都期待桌上有它!</p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">台中小美</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-gray fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>魚肉沒有腥味，非常棒！
                                        </p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">Mike Wu</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p class="fs-lg-6">
                                            我最喜歡把它拿來紅燒或者煎烤，每次都能把魚肉的鮮甜完全釋放出來，而且料理簡單，完全是廚房裡的得力助手。</p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">顏先生</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>秀水鄉的養殖虱目魚真的是百搭，從簡單的清蒸到豐富的燉煮湯品，無論怎麼做，味道都鮮甜可口。最適合我這種愛變換料理風格的人，每次都有新鮮的口感！
                                        </p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">Peggy Tang</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>快速配送，新鮮度滿分</p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">張*芳</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>運送快速，商品無誤</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">彰化陳媽媽</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-gray fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7">
                                每天都期待桌上有它!</p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">台中小美</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-gray fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 fs-lg-6">魚肉沒有腥味，非常棒！</p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">Mike Wu</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 text-truncate d-lg-none">
                                我最喜歡把它拿來紅燒或者煎烤，每次都能把魚肉的鮮甜完全釋放出來，而且料理簡單，完全是廚房裡的得力助手。</p>
                            <p class="card-text fs-lg-6 d-none d-lg-block">
                                我最喜歡把它拿來紅燒或者煎烤，每次都能把魚肉的鮮甜完全釋放出來，而且料理簡單，完全是廚房裡的得力助手。</p>
                            <a href="#" class="mt-auto fs-7 link-primary" data-bs-toggle="modal"
                                data-bs-target="#model2">看全部</a>
                            <div class="modal fade" id="model2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content py-5">
                                        <h3 class="fs-5 text-black mb-3">Mike Wu</h3>
                                        <div class="mb-4">
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5">star</span>
                                        </div>
                                        <p>我最喜歡把它拿來紅燒或者煎烤，每次都能把魚肉的鮮甜完全釋放出來，而且料理簡單，完全是廚房裡的得力助手。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">顏先生</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 d-lg-none text-truncate">
                                秀水鄉的養殖虱目魚真的是百搭，從簡單的清蒸到豐富的燉煮湯品，無論怎麼做，味道都鮮甜可口。最適合我這種愛變換料理風格的人，每次都有新鮮的口感！</p>
                            <p class="card-text fs-lg-6 d-none d-lg-block">
                                秀水鄉的養殖虱目魚真的是百搭，從簡單的清蒸到豐富的燉煮湯品，無論怎麼做，味道都鮮甜可口。最適合我這種愛變換料理風格的人，每次都有新鮮的口感！</p>
                            <a href="#" class="mt-auto fs-7 link-primary" data-bs-toggle="modal"
                                data-bs-target="#model4">看全部</a>
                            <div class="modal fade" id="model4" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content py-5">
                                        <h3 class="fs-5 text-black mb-3">顏先生</h3>
                                        <div class="mb-4">
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5">star</span>
                                        </div>
                                        <p>秀水鄉的養殖虱目魚真的是百搭，從簡單的清蒸到豐富的燉煮湯品，無論怎麼做，味道都鮮甜可口。最適合我這種愛變換料理風格的人，每次都有新鮮的口感！
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p data-bs-toggle="collapse" href="#collapseCommet" role="button" aria-expanded="false"
                        aria-controls="collapseExample" class="text-primary text-center d-lg-none">看所有評論 (14)</p>
                    <div class="collapse d-lg-none" id="collapseCommet">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5 mb-2">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">Peggy Tang</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 fs-lg-6">
                                快速配送，新鮮度滿分</p>
                        </div>
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">張*芳</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 fs-lg-6">
                                運送快速，商品無誤</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <img src="../assets/images/Illustration/Top-Curve.png" alt="banner" class="promotion-curve">
        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesProgress: true,
                });
                var swiper2 = new Swiper(".mySwiper2", {
                    spaceBetween: 10,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    thumbs: {
                        swiper: swiper,
                    },
                });
                var swiper3 = new Swiper(".mySwiper3", {
                    pagination: {
                        el: ".swiper-pagination",
                        type: "fraction",
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            </script>

</body>

</html>