<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>大城鄉龍膽石斑魚</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="header.js"></script>

</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="container product">
            <main class="position-relative mb-lg-11 mb-0 mt-lg-7">

                <div class="row gx-lg-5">
                    <!-- mobile展示圖片 -->
                    <div class="d-lg-none mobile-box">
                        <div class="swiper mySwiper3">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="../assets/images/Mali Fish 1.png" alt="">
                                </div>
                                <div class="swiper-slide"><img
                                        src="https://images.unsplash.com/photo-1721982267199-00b08936d55b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                        alt="">
                                </div>
                                <div class="swiper-slide"><img
                                        src="https://ktfa.com.tw/Uploads/Shop/33825_nav_33825_11_m9tf9k.JPG" alt="">
                                </div>
                                <div class="swiper-slide"><img
                                        src="https://static.thofood.com/public/images/_product/pi_64887.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                    <!-- pc展示圖片 -->
                    <div class="col-lg-5 d-none d-lg-block pc-box">
                        <div class="swiper mySwiper2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="../assets/images/Mali Fish 1.png" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://images.unsplash.com/photo-1721982267199-00b08936d55b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://ktfa.com.tw/Uploads/Shop/33825_nav_33825_11_m9tf9k.JPG" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://static.thofood.com/public/images/_product/pi_64887.jpg" />
                                </div>
                            </div>
                        </div>
                        <div thumbsSlider="" class="swiper mySwiper pt-4 pb-0">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="../assets/images/Mali Fish 1.png" />
                                </div>
                                <div class="swiper-slide">
                                    <img
                                        src="https://images.unsplash.com/photo-1721982267199-00b08936d55b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://ktfa.com.tw/Uploads/Shop/33825_nav_33825_11_m9tf9k.JPG" />
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://static.thofood.com/public/images/_product/pi_64887.jpg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 d-flex flex-column justify-content-between px-lg-5">
                        <div class="mt-5 mt-lg-0">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-2">
                                    <li class="breadcrumb-item fs-7 fs-lg-6 fw-normal"><a href="#">水產海鮮</a></li>
                                    <li class="breadcrumb-item fs-7 fs-lg-6 fw-normal"><a href="#">魚類</a></li>
                                    <li class="breadcrumb-item active fs-7 fs-lg-6 fw-normal" aria-current="page">
                                        大城鄉龍膽石斑魚</li>
                                </ol>
                            </nav>
                            <h1 class="fs-4 fs-lg-2 mb-1">大城鄉龍膽石斑魚</h1>
                            <p class="mb-3 text-gray fw-normal fs-6 fs-lg-5">來自海洋的頂級享受！</p>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                                    aria-labelledby="price1">
                                    <div class="d-flex">
                                        <h2 class="text-accent fs-5 fs-lg-4 en-font me-2">NT$460</h2>
                                        <p
                                            class="text-decoration-line-through text-gray fs-7 fs-lg-6 fw-normal en-font">
                                            NT$570</p>
                                    </div>

                                </div>
                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="price2">
                                    <div class="d-flex">
                                        <h2 class="text-accent fs-5 fs-lg-4 en-font me-2">NT$180</h2>
                                        <p
                                            class="text-decoration-line-through text-gray fs-7 fs-lg-6 fw-normal en-font">
                                            NT$220</p>
                                    </div>
                                </div>
                                <p class="text-accent mb-3 fs-7 fs-lg-6
                            fs-6 fs-lg-5">*低溫冷凍商品</p>
                            </div>
                        </div>
                        <div>
                            <p class="text-primary fs-7 mb-2">規格</p>
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="btn btn-outline-gray active me-2 fs-6 fs-lg-5 btn-outline-gray-big"
                                        id="price1" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
                                        role="tab" aria-controls="pills-home" aria-selected="true">魚排200g</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="btn btn-outline-gray fs-6 fs-lg-5 btn-outline-gray-big" id="price2"
                                        data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
                                        aria-controls="pills-profile" aria-selected="false">魚下巴200g</button>
                                </li>
                            </ul>
                            <div class="mb-5">
                                <div class="d-flex justify-content-between w-50">
                                    <p class="text-primary fs-7 mb-2">數量</p>
                                    <div class="tab-content" id="pills-tabContent">
                                        <div class="tab-pane fade show active d-none d-lg-block" id="pills-home"
                                            role="tabpanel" aria-labelledby="price1">
                                            <p class="text-gray">剩餘 14 包</p>
                                        </div>
                                        <div class="tab-pane fade d-none d-lg-block" id="pills-profile" role="tabpanel"
                                            aria-labelledby="price2">剩餘 17 包</div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    <button class="btn btn-s me-2"><span
                                            class="material-symbols-outlined align-middle">remove</span></button>
                                    <button class="btn btn-outline-gray fs-6 fs-lg-5">1</button>
                                    <button class="btn btn-s ms-2"><span
                                            class="material-symbols-outlined align-middle">add</span></button>
                                </div>
                            </div>
                            <div class="d-lg-flex">
                                <a href="#" class="btn btn-L w-100 mb-3 mb-lg-0 fs-5 py-3 me-lg-5 me-0">加入購物車</a>
                                <a href="#" class="btn btn-L w-100 active fs-5 py-3">立即購買</a>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- mobile文案 -->
            <article class="d-lg-none">
                <ul class="list-unstyled">
                    <li class="my-5">
                        <h2>商品介紹</h2>
                        <p class="mb-2">
                            大城鄉的海洋瑰寶—龍膽石斑魚
                        </p>
                        <p>在台灣西南沿海的雲林縣大城鄉，龍膽石斑魚以其壯碩的體型、細膩的肉質及極佳的風味，成為全球饕客夢寐以求的頂級海鮮。大城鄉的海水養殖場，享有無污染的海域和優良的水質，這裡的漁業專家透過傳統經驗與現代技術的結合，確保每條龍膽石斑魚都能健康、自然地成長，肉質鮮美無比。
                        </p>
                        <p data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                            aria-controls="collapseExample" class="text-center text-primary">看全部<span
                                class="material-symbols-outlined align-middle">keyboard_arrow_down</span></p>
                        <div class="collapse" id="collapseExample">
                            <div class="card border-0">
                                <img src="https://images.unsplash.com/photo-1523585559758-0a4a68774f35?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    alt="milkFish" class="card-img img-fluid">
                                <p class="card-text mb-2">多元料理方式，滿足多樣需求</p>
                                <p class="card-text mb-3">
                                    無論您喜愛中式或西式料理，龍膽石斑魚都能完美融入您的菜單。用清蒸的方式保留魚肉的原汁原味，淋上簡單的薑絲和醬油，就能呈現出一份充滿海洋氣息的美味佳餚；若以煎烤或紅燒處理，魚肉則會鎖住濃郁的香氣與汁液，每一口都令人難忘。不論是豪華宴席，還是日常料理，大城鄉的龍膽石斑魚總能成為餐桌上的主角，讓每位食客享受到極致的美食體驗。
                                </p>
                                <img src="https://images.unsplash.com/photo-1596591136135-1569bac242bd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                    alt="milkFish" class="card-img img-fluid">
                                <p class="card-text mb-2">
                                    大城鄉的每一條龍膽石斑魚，不僅代表著海洋的珍饈，更是當地人對土地、環境與傳統的堅持與奉獻。每一口魚肉，都是對這片土地深厚文化和豐饒海洋的致敬。
                                </p>
                                <p class="card-text mb-3">
                                    選擇大城鄉龍膽石斑魚，帶回家的不僅是鮮美，還有對海洋與自然的敬意。
                                </p>
                                <img src="https://anyong-life-bucket.storage.googleapis.com/wp-content/uploads/2020/01/londan.jpeg"
                                    alt="milkFish" class="card-img img-fluid">
                            </div>
                        </div>
                    </li>
                    <li class="my-5">
                        <h2>規格說明</h2>
                        <p>魚排200g /片，200g ±10% </p>
                        <p>魚下巴200g /片，200g ±10%</p>
                    </li>
                    <li class="my-5">
                        <h2>保存方法</h2>
                        <p>收到後冷凍保存 7-10 天,請盡快於賞味期限內食用完畢</p>
                    </li>
                    <li class="my-5">
                        <h2>滿額免運原則</h2>
                        <ol>
                            <li>
                                全館商品滿 $1000 (含及以上)即享免運服務
                            </li>
                            <li>
                                訂單含冷凍商品時，僅提供宅配服務
                            </li>
                        </ol>
                    </li>
                </ul>
            </article>
            <!-- pc文案 -->
            <article class="d-none d-lg-block">
                <nav id="navbar-example2">
                    <ul class="list-unstyled d-flex justify-content-between w-100 border-bottom mb-8">
                        <li class="btn text-center w-100 me-5 p-0 border-bottom-transparent border-4">
                            <a href="#scrollspyHeading1" class="py-4 fs-4 text-black active">商品介紹</a>
                        </li>
                        <li class="btn text-center w-100 me-5 p-0 border-bottom-transparent border-4">
                            <a href="#scrollspyHeading2" class="py-4 fs-4 text-black">規格說明</a>
                        </li>
                        <li class="btn text-center w-100 p-0 border-bottom-transparent border-4">
                            <a href="#scrollspyHeading3" class="py-4 fs-4 text-black">評論</a>
                        </li>
                    </ul>
                </nav>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0"
                    class="scrollspy-example pt-8" tabindex="0">
                    <div id="scrollspyHeading1">
                        <p class="mb-3">
                            大城鄉的海洋瑰寶—龍膽石斑魚
                        </p>
                        <p>在台灣西南沿海的雲林縣大城鄉，龍膽石斑魚以其壯碩的體型、細膩的肉質及極佳的風味，成為全球饕客夢寐以求的頂級海鮮。大城鄉的海水養殖場，享有無污染的海域和優良的水質，這裡的漁業專家透過傳統經驗與現代技術的結合，確保每條龍膽石斑魚都能健康、自然地成長，肉質鮮美無比。
                        </p>
                        <img src="https://images.unsplash.com/photo-1523585559758-0a4a68774f35?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="milkFish" class="img-fluid">
                        <p class="mb-3">多元料理方式，滿足多樣需求</p>
                        <p class="card-text mb-3">
                            無論您喜愛中式或西式料理，龍膽石斑魚都能完美融入您的菜單。用清蒸的方式保留魚肉的原汁原味，淋上簡單的薑絲和醬油，就能呈現出一份充滿海洋氣息的美味佳餚；若以煎烤或紅燒處理，魚肉則會鎖住濃郁的香氣與汁液，每一口都令人難忘。不論是豪華宴席，還是日常料理，大城鄉的龍膽石斑魚總能成為餐桌上的主角，讓每位食客享受到極致的美食體驗。
                        </p>
                        <img src="https://images.unsplash.com/photo-1596591136135-1569bac242bd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                            alt="milkFish" class="img-fluid">
                        <p class="mb-3">
                            大城鄉的每一條龍膽石斑魚，不僅代表著海洋的珍饈，更是當地人對土地、環境與傳統的堅持與奉獻。每一口魚肉，都是對這片土地深厚文化和豐饒海洋的致敬。
                        </p>
                        <p>選擇大城鄉龍膽石斑魚，帶回家的不僅是鮮美，還有對海洋與自然的敬意。
                        </p>
                        <img src="https://anyong-life-bucket.storage.googleapis.com/wp-content/uploads/2020/01/londan.jpeg"
                            alt="milkFish" class="img-fluid">
                    </div>
                    <ul id="scrollspyHeading2" class="list-unstyled">
                        <li class="mb-8">
                            <h2>規格說明</h2>
                            <p>魚排200g /片，200g ±10% </p>
                            <p>魚下巴200g /片，200g ±10%</p>
                        </li>
                        <li class="mb-8">
                            <h2>保存方法</h2>
                            <p>收到後冷凍保存 7-10 天,請盡快於賞味期限內食用完畢</p>
                        </li>
                        <li class="mb-8">
                            <h2>滿額免運原則</h2>
                            <ol>
                                <li>
                                    全館商品滿 $1000 (含及以上)即享免運服務
                                </li>
                                <li>
                                    訂單含冷凍商品時，僅提供宅配服務
                                </li>
                            </ol>
                        </li>
                    </ul>
                </div>
            </article>
            <section class="section1 mb-5 pt-8 border-top" id="scrollspyHeading3">
                <div class="d-flex justify-content-between mb-3">
                    <h2>評論</h2>
                    <a href="#" class="link-primary d-none d-lg-block" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">看所有評論 (14)</a>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content bg-secondary-200">
                                <div class="modal-header border-0 px-0 pt-6 pb-3">
                                    <h5 class="modal-title text-black" id="exampleModalLabel">所有評論 (14)</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-0">
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">吳*緯</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-gray fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>我最近開始注重飲食健康，發現大城鄉的龍膽石斑魚非常適合我的需求。高蛋白、低脂肪的特性讓我可以安心享用。</p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">莊*玫</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-gray fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>肉質鮮嫩，完全沒有腥味，清蒸後的口感更是令人驚艷。
                                        </p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">宜蘭黃小姐</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p class="fs-lg-6">
                                            這裡買的魚新鮮到無法比擬，從市場直接送到餐桌的速度令人滿意。養殖環境看起來也相當乾淨，讓我對食材更加放心。</p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">顏先生</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>每天當正餐吃，非常美味
                                        </p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">黃**</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>送貨快速商品品質很好</p>
                                    </div>
                                    <div class="bg-secondary-200 py-5 border-bottom">
                                        <div class="mb-4 d-flex flex-column">
                                            <h3 class="fs-5 text-black mb-3">J******N</h3>
                                            <div>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span
                                                    class="material-symbols-outlined text-accent fs-4 me-1">star</span>
                                                <span class="material-symbols-outlined text-accent fs-4">star</span>
                                            </div>
                                        </div>
                                        <p>我對飲食很講究，尤其注重健康，聽說大城鄉的龍膽石斑魚含豐富的蛋白質和Ω-3脂肪酸後，決定試試看。果然不負期待，魚肉細緻無比，無論是煎烤還是煮湯都非常出色，健康又美味，值得推薦！
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">吳*緯</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-gray fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 text-truncate d-lg-none">
                                我最近開始注重飲食健康，發現大城鄉的龍膽石斑魚非常適合我的需求。高蛋白、低脂肪的特性讓我可以安心享用。</p>
                            <p class="card-text fs-6 d-none d-lg-block">
                                我最近開始注重飲食健康，發現大城鄉的龍膽石斑魚非常適合我的需求。高蛋白、低脂肪的特性讓我可以安心享用。</p>
                            <a href="#" class="mt-auto fs-7 link-primary" data-bs-toggle="modal"
                                data-bs-target="#model3">看全部</a>
                            <div class="modal fade" id="model3" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content py-5">
                                        <h3 class="fs-5 text-black mb-3">吳*緯</h3>
                                        <div class="mb-4">
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5">star</span>
                                        </div>
                                        <p>我最近開始注重飲食健康，發現大城鄉的龍膽石斑魚非常適合我的需求。高蛋白、低脂肪的特性讓我可以安心享用。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">莊*玫</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-gray fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 fs-lg-6">
                                肉質鮮嫩，完全沒有腥味，清蒸後的口感更是令人驚艷。</p>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">宜蘭黃小姐</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 text-truncate d-lg-none">
                                這裡買的魚新鮮到無法比擬，從市場直接送到餐桌的速度令人滿意。養殖環境看起來也相當乾淨，讓我對食材更加放心。</p>
                            <p class="card-text fs-6 d-none d-lg-block">
                                這裡買的魚新鮮到無法比擬，從市場直接送到餐桌的速度令人滿意。養殖環境看起來也相當乾淨，讓我對食材更加放心。</p>
                            <a href="#" class="mt-auto fs-7 link-primary" data-bs-toggle="modal"
                                data-bs-target="#model2">看全部</a>
                            <div class="modal fade" id="model2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content py-5">
                                        <h3 class="fs-5 text-black mb-3">宜蘭黃小姐</h3>
                                        <div class="mb-4">
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5">star</span>
                                        </div>
                                        <p>這裡買的魚新鮮到無法比擬，從市場直接送到餐桌的速度令人滿意。養殖環境看起來也相當乾淨，讓我對食材更加放心。</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 mb-2">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">顏先生</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 fs-lg-6">
                                每天當正餐吃，非常美味</p>
                        </div>
                    </div>
                    <p data-bs-toggle="collapse" href="#collapseCommet" role="button" aria-expanded="false"
                        aria-controls="collapseExample" class="text-primary text-center d-lg-none">看所有評論 (14)</p>
                    <div class="collapse d-lg-none" id="collapseCommet">
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5 mb-2">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">黃**</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 fs-lg-6">
                                送貨快速商品品質很好</p>
                        </div>
                        <div class="card border-0 bg-secondary-200 p-4 p-lg-5">
                            <div class="card-title mb-lg-4 d-flex flex-lg-column justify-content-between">
                                <h3 class="fs-6 fs-lg-5 text-black mb-lg-3">J******N</h3>
                                <div>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4 me-1">star</span>
                                    <span class="material-symbols-outlined text-accent fs-6 fs-lg-4">star</span>
                                </div>
                            </div>
                            <p class="card-text fs-7 text-truncate d-lg-none">
                                我對飲食很講究，尤其注重健康，聽說大城鄉的龍膽石斑魚含豐富的蛋白質和Ω-3脂肪酸後，決定試試看。果然不負期待，魚肉細緻無比，無論是煎烤還是煮湯都非常出色，健康又美味，值得推薦！
                            </p>
                            <p class="card-text fs-lg-6 d-none d-lg-block">
                                我對飲食很講究，尤其注重健康，聽說大城鄉的龍膽石斑魚含豐富的蛋白質和Ω-3脂肪酸後，決定試試看。果然不負期待，魚肉細緻無比，無論是煎烤還是煮湯都非常出色，健康又美味，值得推薦！
                            </p>
                            <a href="#" class="mt-auto fs-7 link-primary" data-bs-toggle="modal"
                                data-bs-target="#model4">看全部</a>
                            <div class="modal fade" id="model4" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content py-5">
                                        <h3 class="fs-5 text-black mb-3">J******N</h3>
                                        <div class="mb-4">
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5 me-1">star</span>
                                            <span class="material-symbols-outlined text-accent fs-5">star</span>
                                        </div>
                                        <p>我對飲食很講究，尤其注重健康，聽說大城鄉的龍膽石斑魚含豐富的蛋白質和Ω-3脂肪酸後，決定試試看。果然不負期待，魚肉細緻無比，無論是煎烤還是煮湯都非常出色，健康又美味，值得推薦！
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <img src="../assets/images/Illustration/Top-Curve.png" alt="banner" class="promotion-curve">
        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
            <script>
                var swiper = new Swiper(".mySwiper", {
                    spaceBetween: 10,
                    slidesPerView: 4,
                    freeMode: true,
                    watchSlidesProgress: true,
                });
                var swiper2 = new Swiper(".mySwiper2", {
                    spaceBetween: 10,
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                    thumbs: {
                        swiper: swiper,
                    },
                });
                var swiper3 = new Swiper(".mySwiper3", {
                    pagination: {
                        el: ".swiper-pagination",
                        type: "fraction",
                    },
                    navigation: {
                        nextEl: ".swiper-button-next",
                        prevEl: ".swiper-button-prev",
                    },
                });
            </script>

</body>

</html>